    * {
        padding: 0;
        margin: 0;
    }
    
    input,
    textarea {
        outline: none;
    }
    
    input:active,
    textarea:active {
        outline: none;
    }
    
     :focus {
        outline: none;
    }
    
    textarea {
        resize: none;
    }
    
    textarea {
        resize: vertical;
    }
    
    textarea {
        resize: horizontal;
    }
    
    html,
    body {
        height: auto;
        width: 100%;
        behavior: smooth;
    }
    /*Шапка*/
    
    .background-blur {
        position: absolute;
        top: 0%;
        height: 100%;
        width: 100%;
        background: transparent;
        filter: blur(5px);
    }
    
    header {
        width: 100%;
        height: 7vw;
        background: rgba(11, 54, 119, 1);
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 2vw;
    }
    
    .header-logo {
        width: 10%;
        height: 100%;
        background: url("../images/logo2.png");
        background-position: center center;
        background-size: cover;
        top: 0px;
        margin-left: 2%;
        display: flex;
    }
    
    .header-block-auth {
        margin-top: 2vw;
        margin-right: 3vw;
        width: auto;
        height: auto;
        right: 0%;
        color: rgba(255, 255, 255, 1);
        font-family: Roboto;
        display: flex;
        justify-content: end;
        font-size: 100%;
    }
    
    .header-block-auth-text {
        width: auto;
        height: 100%;
        font-size: 100%;
        text-align: right;
        margin-left: 2vw;
        display: inline;
    }
    /*Контент*/
    
    main {
        display: flex;
        min-height: 50vw;
        width: 100%;
        height: auto;
        background: url("../images/background2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        /*background: rgba(4, 33, 78, 1);*/
    }
    
    .container {
        position: relative;
        margin: 3vw;
        display: grid;
        width: 100%;
        height: auto;
        grid-template-columns: 30% 30% 30%;
        grid-auto-rows: 30vw;
        gap: 4vw;
        justify-content: center;
    }
    
    [class^="box-"] {
        border-radius: 1vw;
        background-color: darkgrey;
        background: url("../images/5.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        /* Размещаем контейнеры по центру */
        display: grid;
        place-items: center;
        align-items: end;
        box-shadow: 0.5vw 0.7vw 1vw rgba(21, 0, 46, 0.5);
    }
    
    .boxlabel {
        background: linear-gradient(0deg, rgb(37, 37, 37) 0%, rgba(83, 83, 83, 0.5) 60%, rgba(83, 83, 83, 0.2) 80%, rgba(255, 255, 255, 0) 100%);
        width: 100%;
        height: 70%;
        border-radius: 1vw;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
    }
    
    .boxlabel-name {
        color: white;
        font-size: 3vw;
        margin-top: 10vw;
        margin-left: 2vw;
        width: 100%;
        background: transparent;
    }
    
    .boxlabel-block {
        display: flex;
        flex-wrap: nowrap;
        margin-left: 2vw;
        width: 100%;
        background: transparent;
    }
    
    .boxlabel-block-date {
        color: rgb(124, 124, 124);
        font-size: 2vw;
    }
    
    .boxlabel-block-logo {
        background: url("../images/logo-date.png");
        background-size: cover;
        height: 2vw;
        width: 2vw;
        font-size: 2vw;
        margin-right: 0.5vw;
    }
    /*Подвал*/
    
    footer {
        width: 100%;
        height: 7vw;
        background: rgba(11, 54, 119, 1);
        display: flex;
        font-size: 1.9vw;
    }
    
    .footer__contact {
        width: auto;
        right: 0%;
        margin-top: 1%;
        margin-left: auto;
        margin-right: 2%;
        color: rgba(255, 255, 255, 1);
        font-family: Roboto;
        font-size: 100%;
    }
    
    .contact__name {
        width: 100%;
        height: 50%;
        font-size: 100%;
        text-align: right;
    }
    
    .contact__email {
        width: 100%;
        height: 50%;
        font-size: 84%;
        text-align: right;
    }
    /*




    формы





    */
    
    .forms-wrapper {
        top: 0%;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        /*формы
        display: none;
        формы*/
        background-color: rgba(0, 0, 0, 0.3);
    }
    
    .form-auth {
        opacity: 0;
        height: 25vw;
        width: 30vw;
        color: rgba(255, 255, 255, 1);
        background: radial-gradient(100% 100%, rgba(7, 33, 73, 0.6), rgba(7, 33, 73, 0.80), rgba(7, 33, 73, 0.60));
        box-shadow: 0.5vw 0.7vw 1vw rgba(0, 0, 0, 0.5);
        border-radius: 2vw;
        position: fixed;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    
    .form-auth-label-text {
        width: 100%;
        text-align: center;
    }
    
    .form-auth-label {
        display: flex;
        width: 100%;
        justify-content: end;
        font-size: 3.5vw;
        margin-left: 4vw;
        margin-right: 4vw;
    }
    
    .form-auth-input-block {
        width: 100%;
        height: auto;
        margin-left: 4vw;
        margin-right: 4vw;
        display: flex;
        flex-direction: column;
        align-content: space-between;
    }
    
    .form-auth-input {
        font: 1.8vw sans-serif;
        box-sizing: border-box;
        margin-top: 1vw;
    }
    
    .input-text {
        color: white;
        font-size: 100%;
        border: transparent;
        background: transparent;
        border-radius: 0.5vw;
        width: 100%;
    }
    
    .input-line {
        border-radius: 0.01vw;
        height: 0.02vw;
        width: 100%;
        background-color: #acacac;
    }
    
    .button-block-auth {
        display: flex;
        margin-top: 2vw;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 3vw;
        font-size: 1.7vw;
        border-radius: 0.5vw;
        overflow: hidden;
    }
    
    .button-auth {
        width: 100%;
        color: white;
        border: transparent;
        background: #3e1e58e0;
        height: 100%;
        font-size: 100%;
    }
    
    .button-block-register {
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 4vw;
        font-size: 1.7vw;
        border-radius: 0.5vw;
        overflow: hidden;
    }
    
    .button-register {
        width: 100%;
        color: rgba(231, 231, 231, 0.712);
        border: transparent;
        background: transparent;
        height: 100%;
        font-size: 100%;
    }
    /*







    форма регистрации
    
    
    
    
    
    */
    
    .form-register {
        opacity: 1;
        height: 45vw;
        width: 30vw;
        color: rgba(255, 255, 255, 1);
        background: radial-gradient(100% 100%, rgba(7, 33, 73, 0.6), rgba(7, 33, 73, 0.80), rgba(7, 33, 73, 0.60));
        box-shadow: 0.5vw 0.7vw 1vw rgba(0, 0, 0, 0.5);
        border-radius: 2vw;
        position: fixed;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    
    .form-register-label-text {
        width: 100%;
        text-align: center;
    }
    
    .form-register-label {
        display: flex;
        width: 100%;
        justify-content: end;
        font-size: 3.5vw;
        margin-left: 4vw;
        margin-right: 4vw;
    }
    
    .form-register-input-block {
        width: 100%;
        height: auto;
        margin-left: 4vw;
        margin-right: 4vw;
        display: flex;
        flex-direction: column;
        align-content: space-between;
    }
    
    .form-register-input {
        font: 1.8vw sans-serif;
        box-sizing: border-box;
        margin-top: 1vw;
    }
    
    .input-line {
        border-radius: 0.01vw;
        height: 0.02vw;
        width: 100%;
        background-color: #acacac;
    }
    
    .form-register-button-block-register {
        display: flex;
        margin-top: 2vw;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 3vw;
        font-size: 1.7vw;
        border-radius: 0.5vw;
        overflow: hidden;
    }
    
    .form-register-button-register {
        width: 100%;
        color: white;
        border: transparent;
        background: #3e1e58e0;
        height: 100%;
        font-size: 100%;
    }
    
    .form-register-button-block-auth {
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 4vw;
        font-size: 1.7vw;
        border-radius: 0.5vw;
        overflow: hidden;
    }
    
    .form-register-button-auth {
        width: 100%;
        color: rgba(231, 231, 231, 0.712);
        border: transparent;
        background: transparent;
        height: 100%;
        font-size: 100%;
    }
    
    .checkbox-block {
        margin-top: 1vw;
        font-size: 2vw;
        text-align: justify
    }
    
    a,
    a:active,
    a:visited {
        color: #407be7e0;
    }
    
    @media (max-width: 426px) {
        header {
            height: 14vw;
            font-size: 6vw;
        }
        .header-block-auth {
            margin-top: 3vw;
        }
        .header-logo {
            margin-left: 4vw;
        }
        .container {
            grid-template-columns: 45% 45%;
            grid-auto-rows: 45vw;
        }
        .box {
            border-radius: 3vw;
        }
        .boxlabel-name {
            margin-top: 15vw;
            font-size: 6vw;
        }
        .boxlabel-block-date {
            font-size: 3vw;
        }
        .boxlabel-block-logo {
            width: 3.5vw;
            height: 3.5vw;
        }
        footer {
            height: 15vw;
            font-size: 4vw;
        }
        .form-auth {
            border-radius: 8vw;
            width: 80vw;
            height: 70vw;
        }
        .form-auth-label {
            font-size: 10vw;
        }
        .form-auth-input-block {
            height: 40vw;
        }
        input {
            font-size: 6vw;
        }
        .button-block-auth {
            border-radius: 2vw;
            margin-top: 5vw;
            height: 7vw;
            font-size: 5vw;
        }
        .button-block-register {
            border-radius: 2vw;
            margin-top: 2vw;
            height: 7vw;
            font-size: 5vw;
        }
        .form-auth-input {
            margin-top: 2vw;
        }
        .form-register {
            border-radius: 8vw;
            width: 80vw;
            height: 120vw;
        }
        .form-register-label {
            font-size: 10vw;
        }
        .form-register-input-block {
            height: 40vw;
        }
        .input-text {
            margin-bottom: 1vw;
            font-size: 6vw;
        }
        .checkbox-block {
            margin-top: 3vw;
            font-size: 4vw;
        }
        .form-register-button-block-auth {
            border-radius: 2vw;
            margin-top: 2vw;
            height: 7vw;
            font-size: 5vw;
        }
        .form-register-button-block-register {
            border-radius: 2vw;
            margin-top: 3vw;
            height: 7vw;
            font-size: 5vw;
        }
        .form-register-input-block {
            height: auto;
            margin-top: 2vw;
        }
    }